<div class="p-5 w-auto max-height ">
  <div class="row">
    <!-- First Poem -->
    <div class="col">
      <h2>
        Poem 1
      </h2>
      <p>
        A second is all I need,<br>
        A moment is all I wish,<br>
        There's a rage burning inside,<br>
        There are days all I do is weep,<br>
        Your courage was filled with strength,<br>
        Yet I saw death overpower you,<br>
        I heard fear in the voice of the brave,<br>
        Now am here looking at your grave,<br>
        The inevitable that I will never understand,<br>
        The reality we cannot evade.<br>
        A conversation might be extreme,<br>
        All I crave is to stare,<br>
        All I hate is that you are not here,<br>
        There's a void that cannot be filled,<br>
        A pain that cannot be felt,<br>
        Tear that cannot be wiped,<br>
        A parent that cannot be replaced,<br>
        Love that can NEVER be replaced.
      </p>
    </div>

    <!-- Second poem -->
    <div class="col">
      <h2>
        Poem 2
      </h2>
      <p>
        To do some little good before i die;<br>
        To wake some echoes to a loftier theme;<br>
        To spend my life's last store of industry;<br>
        On thoughts less vain than Youth's discordant dream;<br>
        To endow the world's grief with some counter-scheme;<br>
        Of logical hope which through all time should lighten;<br>
        The burden of men's sorrow and redeem;<br>
        Their faces' paleness from the tears that whiten;
      </p>
      <p>
        To take my place in the world's brotherhood;<br>
        As one prepare to suffer all its fate;<br>
        To do and be undone for the sake of good;<br>
        And conquer rage by giving love for hate;<br>
        That were a noble dream, and so to cease;<br>
        Scorned by the proud but with the poor at peace.
      </p>
    </div>


  </div>

</div>
